* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#content {
    background-color: #bcceda;
    width: 80%;
    margin: 1.5rem auto;
    padding: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 800px;
}

#ticket {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
    margin: 0 auto;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 1.25rem;
}

.field {
    display: flex;
    flex-direction: column;
}

.field input, select, button {
    padding: 7px 0;
}

.full {
    grid-column: 1/3;
}

[hidden] {
    display: none;
}

h1 {
    font-weight: 500;
}

button {
    background-color: #bcceda;
}

footer {
    padding-top: 2rem;
    text-align: center;
}